.productdisplay .rounded{
    height: 10rem;
    margin-top: .50rem;
    border: 0.25rem solid black ;
}
.productdisplay .main-img{
    height: 41.51rem;
    width: 40rem;
    border: 0.25rem solid black ;
}

.productdisplay .star{
 height: 1.5rem;
    
}